@import "../../../shared";

.avatar {
  width: 200px;
  height: auto;
  margin-top: 5px;
  //position: relative;
  border-radius: 100%;
  //position: inherit;
}

.avatar-container {
  //width: 230px;
  margin: 0;
  position: relative;
}