@import "../../../shared";

.user_form {
  z-index: 100;
  margin: 20px;
  border-radius: 20px;
  position: absolute;
  width: 210px;
  background: radial-gradient(at top right, @main_color, white);
  border: 1px @main_color solid;
}