.user_form {
  z-index: 100;
  height: 92vh;
  margin: 0;
  position: absolute;
  width: 17vw;
  background: rgba(255, 255, 255, 0.7);
  overflow: scroll;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  top: 8vh;
}
.user_form::-webkit-scrollbar {
  width: 0;
}
